@import url("https://fonts.cdnfonts.com/css/fresh-marker");
@import url('https://fonts.cdnfonts.com/css/alvaro');

body {
  font-family: "Alvaro";
  background-color: black;
	font-size: 30px;
}

.logo {
  text-align: center;
  width: 65%;
  margin: auto;
   user-select: none;
}

.logo b{
  font: 100px "Fresh Marker";
  -webkit-text-stroke: 3px white;
  background-image: linear-gradient(red 40%,orange 60%,yellow 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 8px;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em red, 0 0 0.5em orange, 0 0 0.1em yellow, 0 10px 3px #000;
}
.logo b span{
  animation: blink linear infinite 2s;
}
.logo b span:nth-of-type(2){
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

/* 404 page */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

section.notFound {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P';
  color: #FFFFFF;
  text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5%;
    height: 100vh;
}

section.notFound h1 {
    color: red;
    font-size: 100px;
}

section.notFound h2 {
    font-size: 50px;
}

section.notFound h1, h2, h3 {
    margin-bottom: 40px;
}

div.text {
    height: 50vh;
}

div.text a {
    text-decoration: none;
    margin-right: 20px;
}

div.text a:hover {
    color: red;
    text-decoration: underline; 
}

@media only screen and (max-width: 768px) {
    section.notFound {
        flex-direction: column;
        justify-content: space-around;
    }
    section.notFound div.img img {
        width: 70vw;
        height: auto;
    }
    section.notFound h1 {
        font-size: 50px;
    }
    section.notFound h2 {
        font-size: 25px;
    }
    div.text a:active {
    color: red;
    text-decoration: underline; 
  }
}