@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link href="https://fonts.cdnfonts.com/css/fresh-marker" rel="stylesheet">

<div class="box">
    <h1 class="graffitiText">Welcome to Downtown Dapper</h1>
</div>
