@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="logo"><b>
    <span>D</span>owntown&nbsp;<span>D</span>apper</span></b></div>
<br>
<br>

<div>
    <h1>Welcome</h1>
    <p>
        Downtown Dapper is the perfect mix of a modern and classic barber shop.
    </p>
</div>