@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="logo"><b>
    <span>D</span><span>o</span><span>w</span><span>n</span><span>to</span><span>wn</span>
    <span>&nbsp;</span><span>Dapp</span></span>er</b></div>