@page
@model Services
@{
    ViewData["Title"] = "Services";
}
<h1>@ViewData["Title"] OFFERED</h1>

<br>

<h1 class="text-center"> EST. 2020</h1>

<h2 class="text-center" style="font-family: Fresh Marker; font-size:55px;letter-spacing: 5px">Downtown Dapper</h2>

<h3 style="text-align:center; font-size:40px">Classic Barbers</h3>
<div class="strike"><span>Laporte Indiana</span></div>

<br>
<h2 class="text-center" style="font-family: Fresh Marker; font-size:60px;letter-spacing: 5px"> Serving up</h2>
<h4 class="text-center" style="font-size: 80px;"><u>Fresh Cuts Daily</u></h4>


<p style="text-align:left;">
    Haircut
    <span style="float:right;">
    $18
    </span>
</p>
<p style="text-align:left;">
    Haircut + Beard Trim
    <span style="float:right;">
    $20
    </span>
</p>
<p style="text-align:left;">
    Shave
    <span style="float:right;">
    $25
    </span>
</p>
<p style="text-align:left;">
    Haircut + Shave
    <span style="float:right;">
    $38
    </span>
</p>
<p style="text-align:left;">
    Head Shave
    <span style="float:right;">
    $35
    </span>
</p>
<p style="text-align:left;">
    Head Shave + Face Shave
    <span style="float:right;">
    $45
    </span>
</p>
<p style="text-align:left;">
    Shampoo
    <span style="float:right;">
    $10
    </span>
</p>
<div class="strike"><span>💈</span></div>